@model EntityLayer.Concrete.Skill

@{
    ViewData["Title"] = "EditSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yetenek Düzenle</h4>

            <form asp-controller="Skill" asp-action="EditSkill" method="post" class="forms-sample">
                <input asp-for="SkillID" type="hidden" />
                <div class="form-group">
                    <label asp-for="Title">Başlık</label>
                    <input asp-for="Title" type="text" class="form-control" placeholder="Yetenek başlığını giriniz">
                </div>
                <div class="form-group">
                    <label asp-for="Value">Yetenek Oranı</label>
                    <input asp-for="Value" type="text" class="form-control" placeholder="Yetenek oranını giriniz">
                </div>

                <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
                <button asp-controller="Skill" asp-action="Index" class="btn btn-dark">İptal Et</button>
            </form>
        </div>
    </div>
</div>
<script src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/vendors/js/vendor.bundle.base.js"></script>
